# Сообщаем Git, как автоматически обрабатывать большинство текстовых файлов.
* text=auto

# Четко указываем, что исполняемые скрипты для Linux ДОЛЖНЫ иметь окончания LF.
# Это критически важно для gradlew.
gradlew text eol=lf
*.sh text eol=lf

# Четко указываем, что исполняемые скрипты для Windows ДОЛЖНЫ иметь окончания CRLF.
gradlew.bat text eol=crlf
*.bat text eol=crlf

# Убеждаемся, что файлы свойств тоже используют LF для консистентности.
*.properties text eol=lf